sony-projector/examples/sampleflow.json
[{"id":"5415edd0.f4df14","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"64c69eb3.b52c7","type":"sony-projector","z":"5415edd0.f4df14","name":"","projectorIp":"192.168.2.92","projectorPort":"53484","x":730.6666870117188,"y":478,"wires":[["de9fb58d.f33e58"]]},{"id":"8253959c.3eca78","type":"inject","z":"5415edd0.f4df14","name":"","topic":"","payload":"getpowerstate","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360.66668701171875,"y":457,"wires":[["64c69eb3.b52c7"]]},{"id":"de9fb58d.f33e58","type":"debug","z":"5415edd0.f4df14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010.6667823791504,"y":478.00001335144043,"wires":[]},{"id":"e70e911a.7bf9b","type":"inject","z":"5415edd0.f4df14","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":513,"wires":[["64c69eb3.b52c7"]]},{"id":"b1a8a12f.35fa2","type":"inject","z":"5415edd0.f4df14","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":342,"y":570,"wires":[["64c69eb3.b52c7"]]}]